/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@400;500&family=Roboto:wght@100&display=swap');

* {
    padding: 0px;
    margin-left: 0px;




}

body {
    overflow-x: hidden;
}

.flex-box {
    display: flex;

    background-color: #161616;
    border: 0px;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    margin-left: 90px;
    margin-top: 50px;
    margin-left: 200px;


}



.moto {
    padding: 111px;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;

}


p {
    color: #FFFFFF;
    margin-top: 30px;

}

.btn-1 {
    background-color: #DD0000;
    color: #FFFFFF;
    width: 187px;
    height: 56px;
    border-radius: 5px;

}

.fa-greater-than {
    padding-left: 10px;


}



.flex-box .cover-pic img {
    width: 581px;
    height: 613px;
    padding-top: 33px;
    padding-right: 70px;
}

.foot {
    background: #161616;
    width: 1700px;
    height: 222px;

}

h2 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;

}

.footer {
    display: flex;

    justify-content: space-evenly;
    padding-left: 600px;
    padding-right: 600px;
    text-decoration: none;




}

.footer a {
    text-decoration: none;
    color: #FFFFFF;


}

.left a {
    color: #161616;
    text-decoration: none;
}

.left {
    border: 0px;
    height: 225px;
    width: 220px;
    background-color: #161616;
    border-radius: 25px;
    margin-left: 90px;
}

.btn-2 {
    height: 34px;
    width: 152px;

    margin-left: 35px;
    padding: 10x;



    border-radius: 5px;
}

.btn-3 {
    height: 34px;
    width: 152px;
    margin-top: 5px;
    margin-left: 35px;
    padding: 10x;


    border-radius: 5px;
    background-color: #DD0000;
    color: #FFFFFF;
}

.btn-5 {
    border-radius: 5px;
    border-width: thin;


}

.news-pic img {
    width: 332px;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

.news-title {
    font-size: small;
}

.news-info {
    padding-left: 8px;
}

.fa-clock {
    font-size: small;
    font-weight: normal;
    padding-right: 8px;
}

.fa-message {
    font-size: small;
    font-weight: normal;
}

.fig-flex {
    display: flex;




}

.contain {
    display: grid;
    margin-left: 115px;
    grid-template-columns: repeat(3, 1fr)
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    padding-left: 30px;
    grid-row-gap: 20px;
}

.new {
    border: 1px solid #E8E8E8;
    width: 332px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;

}

.flag {
    display: flex;
}

.vs {
    margin-left: 15px;
    margin-right: 15px;
    font-size: small;
}

.game-title {
    padding-right: 70px;
    margin-left: 105px;

    font-size: small;
}

.h5 {
    padding-left: 6px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 13px;
}

.flags {
    border: 1px solid #E8E8E8;
    width: 330px;
    height: 220px;
    border-radius: 10px 10px 0px 0px;




}

.flag {
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}


/* midea quaries */
/* mobile devices */
@media only screen and (max-width:688px) {
    .flex-box {
        flex-direction: column;
    }

    .flex-box,
    .footer,
    .foot {

        display: none;
    }


}